In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df=pd.read_csv('Exercise.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2.0,157.0,3.0,0.0,1.0,0.0,sales,low
1,0.80,0.86,5.0,262.0,6.0,0.0,1.0,0.0,sales,medium
2,0.11,0.88,7.0,272.0,4.0,0.0,1.0,0.0,sales,medium
3,0.72,0.87,5.0,223.0,5.0,0.0,1.0,0.0,sales,low
4,0.37,0.52,2.0,159.0,3.0,0.0,1.0,0.0,sales,low

In [4]:
df.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           1
average_montly_hours     1
time_spend_company       1
Work_accident            1
left                     1
promotion_last_5years    1
Department               1
salary                   1
dtype: int64

In [11]:
df['number_project']=df['number_project'].fillna(df['number_project'].max())

In [12]:
df['average_montly_hours']=df['average_montly_hours'].fillna(df['average_montly_hours'].max())

In [13]:
df['time_spend_company']=df['time_spend_company'].fillna(df['time_spend_company'].max())

In [14]:
df['Work_accident']=df['Work_accident'].fillna(df['Work_accident'].max())

In [15]:
df['left']=df['left'].fillna(df['left'].max())

In [16]:
df['promotion_last_5years']=df['promotion_last_5years'].fillna(df['promotion_last_5years'].max())

In [19]:
df['Department']=df['Department'].fillna('sales')

In [20]:
df['salary']=df['salary'].fillna('mdeium')

In [21]:
df.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
salary                   0
dtype: int64

In [22]:
df.groupby('left').mean()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
left,,,,,,,
0.0,0.667345,0.716146,3.78842,199.140464,3.292376,0.174067,0.022247
1.0,0.439907,0.719393,3.86602,207.683549,3.877514,0.048491,0.005388