In [4]:
import pandas as pd
import numpy as np
pd.__version__

'1.0.5'

In [5]:
df=pd.DataFrame({'one':[100,200],'col two':[300,400]})
df

   one  col two
0  100      300
1  200      400

In [7]:
pd.DataFrame(np.random.rand(4,8))

,0,1,2,3,4,5,6,7
0,0.318450,0.903009,0.328163,0.229235,0.384151,0.493595,0.239924,0.469506
1,0.851963,0.159008,0.255883,0.040809,0.317183,0.937773,0.998037,0.861678
2,0.105176,0.535765,0.115975,0.296935,0.462562,0.980160,0.363815,0.334832
3,0.177919,0.618108,0.956857,0.381482,0.186526,0.774734,0.016579,0.071335

In [8]:
pd.DataFrame(np.random.rand(4,8),columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.606067,0.503095,0.635610,0.225941,0.773974,0.886719,0.039109,0.533973
1,0.849559,0.074842,0.942785,0.047622,0.733675,0.477417,0.410290,0.653677
2,0.287094,0.506550,0.330437,0.129947,0.250154,0.476712,0.503642,0.337134
3,0.362219,0.671965,0.662141,0.696940,0.608213,0.970922,0.648462,0.222105

In [9]:
df=df.rename({'one':'col one'},axis=1)
df

   col one  col two
0      100      300
1      200      400

In [10]:
df.columns=['col_one','col_two']
df

   col_one  col_two
0      100      300
1      200      400

In [11]:
df.columns=df.columns.str.replace('_',' ')
df

   col one  col two
0      100      300
1      200      400

In [12]:
df.add_prefix('X_')

   X_col one  X_col two
0        100        300
1        200        400

In [13]:
df.add_suffix('_X')

   col one_X  col two_X
0        100        300
1        200        400

In [14]:
df=pd.read_csv('drinks.csv')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [19]:
df.loc[::-1].head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
192,Zimbabwe,64,18,4,4.7,AF
191,Zambia,32,19,4,2.5,AF
190,Yemen,6,0,0,0.1,AS
189,Vietnam,111,2,1,2.0,AS
188,Venezuela,333,100,3,7.7,SA

In [21]:
df.loc[::-1].reset_index(drop=True).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Zimbabwe,64,18,4,4.7,AF
1,Zambia,32,19,4,2.5,AF
2,Yemen,6,0,0,0.1,AS
3,Vietnam,111,2,1,2.0,AS
4,Venezuela,333,100,3,7.7,SA

In [22]:
df.loc[:,::-1].head()

,continent,total_litres_of_pure_alcohol,wine_servings,spirit_servings,beer_servings,country
0,AS,0.0,0,0,0,Afghanistan
1,EU,4.9,54,132,89,Albania
2,AF,0.7,14,0,25,Algeria
3,EU,12.4,312,138,245,Andorra
4,AF,5.9,45,57,217,Angola

In [23]:
df.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [25]:
df.select_dtypes(include="int64")

     beer_servings  spirit_servings  wine_servings
0                0                0              0
1               89              132             54
2               25                0             14
3              245              138            312
4              217               57             45
..             ...              ...            ...
188            333              100              3
189            111                2              1
190              6                0              0
191             32               19              4
192             64               18              4

[193 rows x 3 columns]

In [26]:
df.select_dtypes(include=['number','object']).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [35]:
df=pd.DataFrame({'one':[100,200],'coltwo':[300,400],'colthree':[500,'-']})
df

   one  coltwo colthree
0  100     300      500
1  200     400        -

In [36]:
df.dtypes

one          int64
coltwo       int64
colthree    object
dtype: object

In [37]:
pd.to_numeric(df.colthree,errors='coerce')

0    500.0
1      NaN
Name: colthree, dtype: float64

In [38]:
df=df.apply(pd.to_numeric,errors='coerce').fillna(0)
df

   one  coltwo  colthree
0  100     300     500.0
1  200     400       0.0

In [39]:
pd.read_csv('stocks1.csv')

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT

In [40]:
pd.read_csv('stocks2.csv')

         Date   Close    Volume Symbol
0  2016-10-04  113.00  29736800   AAPL
1  2016-10-04   57.24  20085900   MSFT
2  2016-10-04   31.35  18460400   CSCO

In [41]:
pd.read_csv('stocks3.csv')

         Date   Close    Volume Symbol
0  2016-10-05   57.64  16726400   MSFT
1  2016-10-05   31.59  11808600   CSCO
2  2016-10-05  113.05  21453100   AAPL

In [42]:
from glob import glob

In [43]:
stock_files=sorted(glob('stocks*.csv'))
stock_files

['stocks1.csv', 'stocks2.csv', 'stocks3.csv']

In [44]:
pd.concat((pd.read_csv(file) for file in stock_files))

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
0  2016-10-04  113.00  29736800   AAPL
1  2016-10-04   57.24  20085900   MSFT
2  2016-10-04   31.35  18460400   CSCO
0  2016-10-05   57.64  16726400   MSFT
1  2016-10-05   31.59  11808600   CSCO
2  2016-10-05  113.05  21453100   AAPL

In [45]:
pd.concat((pd.read_csv(file) for file in stock_files),ignore_index=True)

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

In [46]:
pd.read_csv('drinks1.csv')

         country  beer_servings  spirit_servings
0    Afghanistan              0                0
1        Albania             89              132
2        Algeria             25                0
3        Andorra            245              138
4         Angola            217               57
..           ...            ...              ...
188    Venezuela            333              100
189      Vietnam            111                2
190        Yemen              6                0
191       Zambia             32               19
192     Zimbabwe             64               18

[193 rows x 3 columns]

In [47]:
pd.read_csv('drinks2.csv')

     wine_servings  total_litres_of_pure_alcohol      continent
0                0                           0.0           Asia
1               54                           4.9         Europe
2               14                           0.7         Africa
3              312                          12.4         Europe
4               45                           5.9         Africa
..             ...                           ...            ...
188              3                           7.7  South America
189              1                           2.0           Asia
190              0                           0.1           Asia
191              4                           2.5         Africa
192              4                           4.7         Africa

[193 rows x 3 columns]

In [48]:
stock_files=sorted(glob('drinks*.csv'))
stock_files

['drinks.csv', 'drinks1.csv', 'drinks2.csv']

In [49]:
pd.concat((pd.read_csv(file) for file in stock_files),axis='columns')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,EU,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,AF,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,EU,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,AF,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,AS,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,AS,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,AF,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,AF,Zimbabwe,64,18,4,4.7,Africa

In [50]:
df=pd.read_csv('movies.csv')
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [52]:
counts=df.genre.value_counts()

In [53]:
counts.nlargest(3)

Drama     278
Comedy    156
Action    136
Name: genre, dtype: int64

In [55]:
counts.nlargest(3).index

Index(['Drama', 'Comedy', 'Action'], dtype='object')

In [56]:
df[df.genre.isin(counts.nlargest(3).index)].head()

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."

In [58]:
df=pd.DataFrame({'name':['JOHN ARTHUR DEO','JON DFGTE QEWR'],'address':['JCJD BFJB DFHBFJ','FJHJHVE FJHJVF FJRH']})
df

              name              address
0  JOHN ARTHUR DEO     JCJD BFJB DFHBFJ
1   JON DFGTE QEWR  FJHJHVE FJHJVF FJRH

In [60]:
df.name.str.split(' ',expand=True)

      0       1     2
0  JOHN  ARTHUR   DEO
1   JON   DFGTE  QEWR

In [61]:
df[['first','second','last']]=df.name.str.split(' ',expand=True)
df

              name              address first  second  last
0  JOHN ARTHUR DEO     JCJD BFJB DFHBFJ  JOHN  ARTHUR   DEO
1   JON DFGTE QEWR  FJHJHVE FJHJVF FJRH   JON   DFGTE  QEWR

In [62]:
df=pd.read_csv('drinks.csv')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [63]:
df.style.hide_index().highlight_min('beer_servings',color='red')

In [66]:
df.style.hide_index().background_gradient(subset='beer_servings',cmap='Blues')

In [70]:
import pandas_profiling

ModuleNotFoundError: No module named 'pandas_profiling'

In [76]:
pip install pandas_profiling

Requirement already satisfied: pandas_profiling in c:\users\hp\anaconda3\lib\site-packages (2.9.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: missingno>=0.4.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.4.2)
Requirement already satisfied: ipywidgets>=7.5.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (7.5.1)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: requests>=2.23.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (2.24.0)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (4.47.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (1.5.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (1.0.5)
Requirement already satisfied: joblib in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.16.0)

Requirement already satisfied: matplotlib>=3.2.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (3.2.2)
Requirement already satisfied: attrs>=19.3.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (19.3.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (1.18.5)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.10.1)
Requirement already satisfied: visions[type_image_path]==0.5.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.5.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.0.6)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (2.11.2)
Requirement already satisfied: confuse>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (1.4.0)
Requirement already satisfied: phik>=0.9.10 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.10.0)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\users\hp\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (7.16.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\hp\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (5.3.2)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\hp\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (4.3.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\hp\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\hp\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (5.0.7)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.23.0->pandas_profiling) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.23.0->pandas_profiling) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.23.0->pandas_profiling) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.23.0->pandas_profiling) (1.25.9)
Requirement already satisfied: pytz>=2017.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.2.0)
Requirement already satisfied: networkx>=2.4 in c:\users\hp\anaconda3\lib\site-packages (from visions[type_image_path]==0.5.0->pandas_profiling) (2.4)
Requirement already satisfied: imagehash; extra == "type_image_path" in c:\users\hp\anaconda3\lib\site-packages (from visions[type_image_path]==0.5.0->pandas_profiling) (4.2.0)
Requirement already satisfied: Pillow; extra == "type_image_path" in c:\users\hp\anaconda3\lib\site-packages (from visions[type_image_path]==0.5.0->pandas_profiling) (7.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\hp\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas_profiling) (1.1.1)
Requirement already satisfied: pyyaml in c:\users\hp\anaconda3\lib\site-packages (from confuse>=1.0.0->pandas_profiling) (5.3.1)
Requirement already satisfied: numba>=0.38.1 in c:\users\hp\anaconda3\lib\site-packages (from phik>=0.9.10->pandas_profiling) (0.50.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (3.0.5)
Requirement already satisfied: backcall in c:\users\hp\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\hp\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\hp\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.4.3)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (49.2.0.post20200714)
Requirement already satisfied: pygments in c:\users\hp\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (2.6.1)
Requirement already satisfied: jedi>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.17.1)
Requirement already satisfied: jupyter-client in c:\users\hp\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (6.1.6)
Requirement already satisfied: tornado>=4.2 in c:\users\hp\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (6.0.4)
Requirement already satisfied: ipython-genutils in c:\users\hp\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas_profiling) (0.2.0)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas_profiling) (1.15.0)
Requirement already satisfied: notebook>=4.4.1 in c:\users\hp\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (6.0.3)
Requirement already satisfied: jupyter-core in c:\users\hp\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (4.6.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\hp\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (3.2.0)
Requirement already satisfied: PyWavelets in c:\users\hp\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.5.0->pandas_profiling) (1.1.1)
Requirement already satisfied: llvmlite<0.34,>=0.33.0.dev0 in c:\users\hp\anaconda3\lib\site-packages (from numba>=0.38.1->phik>=0.9.10->pandas_profiling) (0.33.0+1.g022ab0f)
Requirement already satisfied: wcwidth in c:\users\hp\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\hp\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.7.0)
Requirement already satisfied: pyzmq>=13 in c:\users\hp\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (19.0.1)
Requirement already satisfied: nbconvert in c:\users\hp\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (5.6.1)
Requirement already satisfied: Send2Trash in c:\users\hp\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\hp\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.8.3)
Requirement already satisfied: prometheus-client in c:\users\hp\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.8.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\hp\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (227)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\hp\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (0.16.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.3)
Requirement already satisfied: defusedxml in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.8.4)
Requirement already satisfied: testpath in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.4.2)
Requirement already satisfied: bleach in c:\users\hp\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (3.1.5)
Requirement already satisfied: webencodings in c:\users\hp\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.5.1)
Requirement already satisfied: packaging in c:\users\hp\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (20.4)

In [77]:
import pandas_profiling

In [78]:
pandas_profiling.ProfileReport(df)

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=20.0, style=ProgressStyle(descripâ€¦

AttributeError: module 'numba' has no attribute 'core'

In [74]:
titanic=pd.read_csv('titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [86]:
pandas_profiling.ProfileReport(titanic)

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=26.0, style=ProgressStyle(descripâ€¦

AttributeError: module 'numba' has no attribute 'core'

In [82]:
pip install numba conda update numba

Requirement already satisfied: numba in c:\users\hp\anaconda3\lib\site-packages (0.50.1)
Requirement already satisfied: conda in c:\users\hp\anaconda3\lib\site-packages (4.8.3)
Collecting update
  Downloading update-0.0.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: llvmlite<0.34,>=0.33.0.dev0 in c:\users\hp\anaconda3\lib\site-packages (from numba) (0.33.0+1.g022ab0f)
Requirement already satisfied: numpy>=1.15 in c:\users\hp\anaconda3\lib\site-packages (from numba) (1.18.5)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from numba) (49.2.0.post20200714)
Requirement already satisfied: pycosat>=0.6.3 in c:\users\hp\anaconda3\lib\site-packages (from conda) (0.6.3)
Requirement already satisfied: requests>=2.12.4 in c:\users\hp\anaconda3\lib\site-packages (from conda) (2.24.0)
Requirement already satisfied: ruamel_yaml>=0.11.14 in c:\users\hp\anaconda3\lib\site-packages (from conda) (0.15.87)
Requirement already satisfied: menuinst in c:\users\hp\anaconda3\lib\site-packages (from conda) (1.4.16)
Collecting style==1.1.0
  Downloading style-1.1.0-py2.py3-none-any.whl (6.4 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.12.4->conda) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.12.4->conda) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.12.4->conda) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.12.4->conda) (3.0.4)
Installing collected packages: style, update
Successfully installed style-1.1.0 update-0.0.1
Note: you may need to restart the kernel to use updated packages.

In [83]:
import numba

AttributeError: module 'numba' has no attribute 'core'

In [85]:
pip install numba==0.48.0

Collecting numba==0.48.0
  Downloading numba-0.48.0-1-cp38-cp38-win_amd64.whl (2.1 MB)
Requirement already satisfied: numpy>=1.15 in c:\users\hp\anaconda3\lib\site-packages (from numba==0.48.0) (1.18.5)
Collecting llvmlite<0.32.0,>=0.31.0dev0
  Downloading llvmlite-0.31.0-cp38-cp38-win_amd64.whl (13.6 MB)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from numba==0.48.0) (49.2.0.post20200714)
Installing collected packages: llvmlite, numba
  Attempting uninstall: llvmlite
    Found existing installation: llvmlite 0.33.0+1.g022ab0f
Note: you may need to restart the kernel to use updated packages.

ERROR: Cannot uninstall 'llvmlite'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.